/* FORM */

.form {
  display: grid;
  max-width: 20rem;
  margin: 4rem auto;

  padding: 1rem 0;
}

.form__input {
  padding: 1em;
  margin-bottom: 2rem;
  border: 0;
  border-radius: 5px;
}

.form__input:focus {
  outline: 2px solid #4c061d;
}
