/* GENERAL STYLES */

body {
  background: #d17a22;
  font-family: system-ui, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.results-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  padding: 0 2rem 4rem 2rem;
}

.results-playlist-box {
  background: #4c061d;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
}

.results-playlist__heading {
  font-size: 2rem;
}

.results-playlist__heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
